[class^="nav--"] {
    background-color: $site-primary;
    color: white;
}

.nav {
    @include e('list') {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        margin: pem(19.920) 0;
        @extend %no-decoration;
    }

    @include e('item') {
        list-style: none;
        margin: 0 pem(32);
    }

    @include m('start') {
        height: auto;
    }

    @include m('end') {
        height: 100%;
        display: flex;
        padding: pem(20) pem(48) 0;
    }
}

.title {
    @include m('strong') {
        display: inline-block;
        color: white;
        @extend %no-decoration
    }
}

.legal {
    display: block;
    margin: pem(19.920) auto pem(19.920);
    text-align: center;
}
