# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

client/src/Auth/facebook.js
client/src/Auth/twitter.js
Auth/auth0-variables.js
Auth/facebook.js
Auth/twitter.js