.app-container__aside {
    max-width: 300px;
    margin-right: 1em;
    @include card;
    @include element(skills) {
        width: 50%;
    }
    @include element(img) {
        width: 60%;
        margin: 1em;
    }
    @include element(row) {
        @include flex($direction: row, $wrap: null, $space: null);
    }
    @include mq('med') {
        max-height: 60%;
    }
    @include mq('lg') {
        max-height: 80%;
    }
}