.carousel {
  margin: auto;
  max-width: 1024px;
}

.carousel-inner>.item>img {
  max-width: 640px;
  max-height: 360px;
}

.img-fluid {
  max-height: 210px;
  margin: auto;
  @include mq('med') {
    max-height: 400px;
  }

  max-width:100%;
  max-height:100%;
}
