.flex-container {
    min-height: $full-height;
    @include flex($direction: column, $wrap: null, $space: null);
    @include element(main) {
        @extend %flex-middle;
    }
}

.loading {
    display: block;
    margin: auto;
}


