// =========================================
//  Mixins
// =========================================

// BEM Selectors 

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifer) {
    &__#{$element} {
        @content;
    }
}

//Grid display with fixed view height (allowing for sticky footers)
@mixin sticky-grid {
    height: 100vh;
    display: grid;
}

// Create a flex container
@mixin flex ($direction, $wrap, $space) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $space;
}

//Center align content with maximum width
@mixin center-max {
    margin: auto;
    max-width: 1024px;
}

@mixin grid {
    display: grid;
}


// Media queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value == null {
        @error "`#{$break}` is not a valid breakpoint name";
    }

    @else if $value < $sm {
        @media(max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

//Card configuration

@mixin deck {
    display: grid;
    
    @include mq('xs') {
        width: $x-small;
        grid-template-columns: 1fr;
    }
    @include mq('sm') {
        width: $small;
    }
    @include mq('med') {
        width: $med;
        grid-template-columns: 1fr 1fr;
    }
    @include mq('lg') {
        width: $lg;
    }

}

//Post configuration
@mixin post {
    @include flex($direction: column, $wrap: null, $space: space-between);
    width: 80%;
    margin: auto;
}

//Post Images

@mixin post-image {
    @extend %center-image;
    max-width: 80%;
    border-radius: 3%;
    height: auto;
    padding-bottom: 1em;
}