// =========================================
//  Mixins
// =========================================

// Create a flex container
@mixin flex ($direction, $wrap, $space) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $space;
}


// Media queries
