// ======================================
//  Variables
// ======================================

//Colors
$primary:#34495E;
$secondary: #16a085;

//Display
$breakpoints: ( 
    'xs': 480px, 
    'sm': 767px, 
    'med': 768px, 
    'lg': 992px, 
    );

$full-height: 100vh;

