// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
}


// ======================================
//  Layout Container Styles
// ======================================

.container {
    color: map-get($colors, 'text');
    font-size: 1rem;
    line-height: 1.5;
    font-family: $font-stack-primary;
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: (480 - (0.20 * 480px));
}

