// ==========================================================================
// Grid
// ==========================================================================

%grid--centered {
    margin-left: auto;
    margin-right: auto;
}

%grid--rounded {
    padding-top: pem(8);
    border-radius: $border--radius;
    text-align: center;
    min-height: pem(44);
    max-height: pem(44);
}

%container--centered {
    @include mq('med') {
        max-width: map-get($map: $breaks, $key: 'med' );
    }
    @include mq('lg'){
        max-width: $container--max-width;
        padding: pem(16);
    }
    margin: auto;
}
