// ==========================================================================
// Layout
// ==========================================================================
%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

%flex-center-row {
    display: flex;
    flex-direction: row;
}

%flex-center-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    
    line-height: pem(25);
    border-radius: pem(6);
    @include mq('sm') {
        min-width: pem(300);
        max-width: 100%;
    }

    @include mq('med') {
        width: 100%;
        margin: pem(20) auto;
        padding: pem(20);
    }
    
    
}

%centered {
    margin-left: auto;
    margin-right: auto;
}

%content-area {
    margin: pem(20) auto;
    align-self: center;
    border-radius: pem(6);
    padding: pem(20);
    line-height: pem(25);
    
    @include mq('sm') {
        max-width: 90%;
    }

    @include mq('med') {
        max-width: pem(900);
    }
}

%card {
    display: flex;
    border-radius: pem(6);
    margin: pem(10) auto;
    padding: pem(10) pem(20);
    align-items: center;
    text-align: center;

    @include mq('sm') {
        flex-wrap: wrap;
    }
}

//Colors and fonts

%container {
    background: $clouds;
    border-radius: pem(6);
    line-height: pem(25);
    margin: pem(20) 0;
    padding: pem(20);
}

%card-theme {
    background: $inverse;
    box-shadow: pem(3) pem(4) black;
}

%card-icon {
    background: $gray;
    border-radius: pem(6);
    padding: pem(5);
}



// ==========================================================================
// Header and Footer
// ==========================================================================

%nav-colors {
    background-color: $site-primary;
    color: white;
}

%nav-width {
    @include mq('med') {
        margin: auto;
        max-width: pem(1400);
    }
}

%absolute-center {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}

%skills {
    border-top: thin solid black;
    padding-top: pem(15);
    text-align: center;
}

%rounded-link {
    background: $site-secondary;
    color: $inverse;
    border-radius: pem(6);
    text-decoration: none;
    padding: pem(10);
}

// %card {
//     background: $clouds;
//     border-radius: pem(6);
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin: auto;
// }

// ==========================================================================
// Links
// ==========================================================================

%no-decoration
a {
    color: $inverse;
    text-decoration: none;
}

// ==========================================================================
// Ql Config
// ==========================================================================
%ql-config {
    @include mq('med') {
        width: 100%;
    }
}
// ==========================================================================
// Table
// ==========================================================================

%table-default {
    font-size: $base--font-size; // margin-bottom: $line-height-computed; // Cells
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                padding: 9px;
                line-height: 1.407; // ~19.7px
                border-top: 2px solid $table-border-color;
                @include mq ('med') {
                    padding: 9px 25px;
                }
            }
            >th {
                color: mix($site-primary, white, 85%);
                border-bottom: 2px solid $table-border-color;
            }
        }
    }

    >thead>tr>th {
        border-bottom: 2px solid $table-border-color;
    } // Account for multiple tbody instances
    >tbody+tbody {
        border-top: 2px solid $table-border-color;
    } // Nesting
    .table {
        background-color: $inverse;
    }

    [class*="fui-"] {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin: -42.5px 0 0;
        position: relative;
        top: 1em;
    }

    .checkbox,
    .radio {
        display: inline-block;
        width: 20px;
        margin: -4px 0 0 -9px;
        top: 0.25em;
        &.no-label {
            padding-left: 0;
        }
    }

    .selected-row {
        >td {
            background-color: mix($site-secondary, white, 5.5%);
        }
    }

    img {
        vertical-align: top;
    }

    border: 2px solid $table-border-color;
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                border: 2px solid $table-border-color;
                padding-top: 8px;
                padding-bottom: 8px;
                vertical-align: middle;
            }
        }
    }

    >tbody {
        >tr {
            &:nth-child(odd),
            &.selected-row {
                background-color: $table-bg-accent;
            }
            &:nth-child(even) {
                background-color: transparent;
            }
        }
    }
}

//Buttons
%input {
    overflow: hidden;
    position: relative;
    >input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
        width: 100%;
        height: 100%;
        outline: 0;
        @include opacity(0);
        transition: all .4s;
    }
}

%input {
    height: pem(42);
    padding: pem(8) pem(12);
    font-family: $font-stack--primary;
    font-size: $base--font-size;
    line-height: $line-height-base;
    color: $site-primary;
    border-style: solid;
    border: pem(2) solid $concrete;
    border-radius: pem(6);
    box-shadow: none;
    @include placeholder($text-color);
    &:focus {
        color: $text-color;
        border-color: $border-color;
        box-shadow: none;
    }
}
