//====================================================
//Functions 
//=====================================================

//Converts pixels to ems
@function pem($pixels) {
    @return($pixels/16 *1em);
}

//Load imported fonts
// @if variable-exists(font-url) {
//     @import url($font-url);
// }

//Value to pixels
@function pixels($target) {
    @return(($target * 1px));
}

// Add percentage of white to a color
@function tint($color, $percent) {
    @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}

//=====================================================
//Colors
//=====================================================

$color--bluewood: #34495e;
$color--meadow: #16a085;

// Color swatches
$turquoise : #1abc9c;
$green-sea : #16a085;
$emerald : #2ecc71;
$nephritis : #27ae60;
$peter-river : #3498db;
$belize-hole : #2980b9;
$amethyst : #9b59b6;
$wisteria : #8e44ad;
$wet-asphalt : #34495e;
$midnight-blue : #2c3e50;
$sun-flower : #f1c40f;
$orange : #f39c12;
$carrot : #e67e22;
$pumpkin : #d35400;
$alizarin : #e74c3c;
$pomegranate : #c0392b;
$clouds : #ecf0f1;
$silver : #bdc3c7;
$concrete : #95a5a6;
$asbestos : #7f8c8d;

//** Global textual link color.
$link-color: $green-sea;
$link-hover-color: $turquoise;
//** Link hover decoration.
$link-hover-decoration: none;

// Grays
$gray : $concrete;
$gray-light : $silver;
$inverse : white;

// Site colors
$site-primary : $wet-asphalt;
$site-secondary : $turquoise;
$site-success : $emerald;
$site-warning : $sun-flower;
$site-danger : $alizarin;
$site-info : $peter-river;

// Social colors
$social-pinterest : #cb2028;
$social-linkedin : #0072b5;
$social-stumbleupon : #ed4a13;
$social-googleplus : #2d2d2d;
$social-facebook : #2f4b93;
$social-twitter : #00bdef;

//Text-color
$text-color: $site-primary;

//Border-color
$border-color: $site-secondary;

//=====================================================
//Breakpoints
//=====================================================

$breaks: (
    'sm': 837px,
    'med': 838px,
    'lg': 1024px
);

$container--max-width: 1260px;

// ==========================================================================
// Margins & Rounded Corners
// ==========================================================================

$margin--one: pem(8);
$margin--two: pem(16);
$margin--three: pem(24);
$margin--four: pem(32);

//Rounded edges
$border--radius: pem(5.5);

// ==========================================================================
// Fonts
// ==========================================================================
$base--font-size: 16;

$font-stack--primary: "Lato",
Helvetica,
Arial,
sans-serif;

// Font Weights
$font-weight--extra-light: 100;
$font-weight--light: 200;
$font-weight--normal: 300;
$font-weight--normal-bold: 400;
$font-weight--medium: 500;
$font-weight--medium-bold: 600;
$font-weight--heavy: 700;
$font-weight--super-heavy: 800;
$font-weight--ultra: 900;

$weights: (
    'extra-light': $font-weight--extra-light,
    'light': $font-weight--light,
    'normal': $font-weight--normal,
    'bold': $font-weight--normal-bold,
    'medium': $font-weight--medium,
    'medium-bold': $font-weight--medium-bold,
    'heavy': $font-weight--heavy,
    'super': $font-weight--super-heavy,
    'ultra': $font-weight--ultra
);

$line-height-base: 1.72222; // 31/18
$line-height-computed: floor($base--font-size * $line-height-base); // ~31px

// ==========================================================================
// Grid
// ==========================================================================

$grid--columns: 12;

$grid-col--width: (
     '1': (1/$grid--columns),
     '2': (2/$grid--columns),
     '3': (3/$grid--columns), 
     '4': (4/$grid--columns),
     '5': (5/$grid--columns), 
     '6': (6/$grid--columns), 
     '7': (7/$grid--columns), 
     '8': (8/$grid--columns),
     '9': (9/$grid--columns),
     '10': (10/$grid--columns),
     '11': (11/$grid--columns),
     '12': (12/$grid--columns)
     );

// ==========================================================================
// Components
// ==========================================================================
//== Components
//
//## Define common padding and border radius sizes and more.
//** Default font-size in components
$component-font-size-base: ceil(($base--font-size * 0.833)); // ~15px
// Border-radius
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;
//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base: 6px;
$caret-width-base-vertical: ($caret-width-base + 2);
$caret-width-xs: 4px;
$caret-width-xs-vertical: ($caret-width-xs + 2);
// Resposive
$rwd-container-space: 20px;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;


// ==========================================================================
// Navbar
// ==========================================================================

// Basics of a navbar
$zindex-navbar : 1000;
$zindex-navbar-fixed : 1030;
$navbar-height-base : 53px;
$navbar-height-large : 76px;
$navbar-input-line-height : 1.4; // ~21px
$navbar-margin-bottom : $line-height-computed;
$navbar-border-radius : $border-radius-large;
$navbar-default-bg : saturate(adjust-hue(tint($site-primary, 91%), -18), 2%);
// Navbar links
$navbar-default-link-color : $site-primary;
$navbar-default-link-hover-color : $site-secondary;
$navbar-default-link-hover-bg : transparent;
$navbar-default-link-active-color : $site-secondary;
$navbar-default-link-active-bg : transparent;
$navbar-default-link-disabled-color : #ccc;
$navbar-default-link-disabled-bg : transparent;
// Navbar nav carets
$navbar-default-caret-color : $navbar-default-link-color;
$navbar-default-caret-hover-color : $navbar-default-link-hover-color;
$navbar-default-caret-active-color : $navbar-default-link-active-color;
// Navbar site label
$navbar-default-site-color : $navbar-default-link-color;
$navbar-default-site-hover-color : $navbar-default-link-hover-color;
$navbar-default-site-hover-bg : transparent;
// Navbar toggle
$navbar-default-toggle-color : $navbar-default-link-color;
$navbar-default-toggle-hover-color : $navbar-default-link-hover-color;
// Navbar form
$navbar-default-form-placeholder : adjust-hue(tint($site-primary, 60%), 2);
$navbar-default-form-icon : desaturate(tint($site-primary, 45%), 2%);
$navbar-default-form-border : shade($navbar-default-bg, 3%);
// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-divider : darken($site-primary, 3%);
// Reset inverted navbar basics
$navbar-inverse-color : $inverse;
$navbar-inverse-bg : $site-primary;
$navbar-inverse-border : darken($navbar-inverse-bg, 10%);
// Inverted navbar links
$navbar-inverse-link-color : $inverse;
$navbar-inverse-link-hover-color : $site-secondary;
$navbar-inverse-link-hover-bg : transparent;
$navbar-inverse-link-active-color : $navbar-inverse-link-color;
$navbar-inverse-link-active-bg : $site-secondary;
$navbar-inverse-link-disabled-color : #444;
$navbar-inverse-link-disabled-bg : transparent;
// Navbar nav carets
$navbar-inverse-caret-color : lighten(desaturate($site-primary, 7%), 9%);
$navbar-inverse-caret-hover-color : $navbar-inverse-link-hover-color;
$navbar-inverse-caret-active-color : $navbar-inverse-link-active-color;
// Inverted navbar site label
$navbar-inverse-site-color : $navbar-inverse-link-color;
$navbar-inverse-site-hover-color : $navbar-inverse-link-hover-color;
$navbar-inverse-site-hover-bg : transparent;
// Inverted navbar toggle
$navbar-inverse-toggle-color : $navbar-inverse-link-color;
$navbar-inverse-toggle-hover-color : $navbar-inverse-link-hover-color;
// Navbar form
$navbar-inverse-form-bg : darken($site-primary, 6%);
$navbar-inverse-form-placeholder : desaturate(lighten($site-primary, 13%), 7%);
$navbar-inverse-form-icon : desaturate(lighten($site-primary, 13%), 6%);
$navbar-inverse-form-border : $navbar-inverse-divider;
// Navbar dropdowns
$navbar-inverse-dropdown-bg : $navbar-inverse-bg;
$navbar-inverse-dropdown-link-color : mix($navbar-inverse-bg, $navbar-inverse-color, 15%);
$navbar-inverse-dropdown-link-hover-color : $inverse;
$navbar-inverse-dropdown-link-hover-bg : $site-secondary;

// ==========================================================================
// Buttons
// ==========================================================================

//## For each of Flat UI's buttons, define text, background, font size and height.
$btn-font-size-base : $component-font-size-base;
$btn-font-size-xs : ceil(($component-font-size-base * 0.8)); // ~12px
$btn-font-size-sm : floor(($component-font-size-base * 0.867)); // ~13px
$btn-font-size-lg : ceil(($component-font-size-base * 1.133)); // ~17px
$btn-font-size-hg : floor(($component-font-size-base * 1.467)); // ~22px
$btn-line-height-base : 1.4; // ~21px
$btn-line-height-hg : 1.227; // ~27px
$btn-line-height-lg : 1.471; // ~25px
$btn-line-height-sm : 1.385; // ~16px
$btn-line-height-xs : 1.083; // ~13px
$btn-social-font-size-base : floor(($component-font-size-base * 0.867)); // ~13px
$btn-social-line-height-base: 1.077; // ~14px
$btn-font-weight : normal;
$btn-default-color : $inverse;
$btn-default-bg : $gray-light;
$btn-hover-bg : mix($gray-light, white, 80%);
$btn-active-bg : mix($gray-light, black, 85%);
$btn-primary-hover-bg : mix($site-secondary, white, 80%);
$btn-primary-active-bg : mix($site-secondary, black, 85%);
$btn-info-hover-bg : mix($site-info, white, 80%);
$btn-info-active-bg : mix($site-info, black, 85%);
$btn-success-hover-bg : mix($site-success, white, 80%);
$btn-success-active-bg : mix($site-success, black, 85%);
$btn-danger-hover-bg : mix($site-danger, white, 80%);
$btn-danger-active-bg : mix($site-danger, black, 85%);
$btn-warning-hover-bg : overlay($site-warning, darken(white, 37.5%));
$btn-warning-active-bg : mix($site-warning, black, 85%);
$btn-inverse-hover-bg : overlay($site-primary, darken(white, 37.5%));
$btn-inverse-active-bg : mix($site-primary, black, 85%);
$btn-link-disabled-color : $gray-light;

//** Disabled cursor for form controls and buttons.
$cursor-disabled: not-allowed;
$legend-color: inherit;

// ==========================================================================
// Tables
// ==========================================================================

//** Default background color used for all tables.
$table-bg : transparent;
//** Background color used for `.table-striped`.
$table-bg-accent : lighten($site-primary, 69.4%);
//** Background color used for `.table-hover`.
$table-bg-hover : lighten($site-primary, 69.4%);
//** Contextual backgrounds
$table-bg-active : $table-bg-hover;
$table-bg-success : mix($site-success, white, 9%);
$table-bg-danger : mix($site-danger, white, 9%);
$table-bg-warning : mix($site-warning, white, 9%);
$table-bg-info : mix($site-info, white, 9%);
//** Border color for table and cell borders.
$table-border-color : mix($gray, white, 16.5%);
