.about {
    @include e('progress') {
        @include mq('sm') {
            display: block;
        }

        @include mq('med') {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @include e('badges') {
        @extend %card;
        @include mq('med') {
            max-width: pem(1200);
        }
    }

    @include e('artists') {
        margin-top: pem(20);
        margin-bottom: pem(20);
        @extend %card;

        @include mq('med') {
            max-width: pem(1200);
        }
    }
}

