// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
}

// ======================================
//  Layout Container Styles
// ======================================

body {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}