
[class^="container"] {
    font-family: $font-stack--primary;
}

.container {
    @include e('text') {
        padding: 0 pem(40);
    }

    a {
        text-decoration: none;
    }
}

.title {
    @each $el,
    $weight in $weights {
        @include m(#{$el}) {
            font-weight: $weight;
        }
    }

    @include m('skills') {
        font-weight: $font-weight--medium-bold;
        border-bottom: thin solid black;
        text-align: center;
    }
}