
[class^="container"] {
    font-family: $font-stack--primary;
}

.container {
    @include m('text') {
        padding: 0 pem(40);
    }

    a {
        text-decoration: none;
    }
}

.title {
    @each $el,
    $weight in $weights {
        @include m(#{$el}) {
            font-weight: $weight;
        }
    }
}