.blog {
    margin: pem(20) auto;
    align-self: center;
    background: $clouds;
    border-radius: pem(6);
    max-width: pem(900);
    padding: pem(20);
    line-height: pem(25);
    
    @include e('item') {
        background: $inverse;
        border-radius: pem(6);
        padding: pem(10);
    }
}