.form {
    @include e('input') {
        @extend %input;
        width: 100%;
        margin: pem(20) 0;
    }

    @include e('btn') {
        text-align: center;
        margin: pem(50) 0;
    }
}

.res {
    @include e('toggle') {
        text-align: center;
        color: $site-primary;
        display: block;
        width: 100%;
        border: solid medium $concrete;
        padding: pem(10);
        border-radius: pem(6);
    }
}

