.welcome {

    @include e('profile') {
        @include mq('sm') {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        
        flex-direction: row-reverse;
        // justify-content: space-between;
        margin-bottom: pem(20);
    }
    
    @include e('intro') {
        // align-content: center;
        // align-items: center;
        margin: auto;
    }

    @include e('body') {
        background: $clouds;
        border-radius: pem(6);
        margin: pem(20) 0;
        padding: pem(20);
    }

    @include e('skills') {
        @extend %skills;
        margin-bottom: pem(20);
        margin-top: pem(20);
    }

    @include e('text') {
        margin-bottom: pem(30);
        margin-top: pem(30);
    }
}