.welcome {
    @include e('intro') {
        // padding: 0 pem(100);
        margin: auto;
    }
    @include e('skills') {
        border-top: thin solid black;
        padding-top: pem(15);
        display: inline-block;
        text-align: center;
    }
}