.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.grid {
    @include e('row') {
        display: flex;
    }

    @include e('col') {
        @each $col, $width in $grid-col--width {
            @include m(#{$col}) {
                flex: $width;
                &.centered {
                    @extend %centered;
                }
            }
        }
    }
}
