.legal {
    text-align: center;
    display: block;

    @include mq('sm') {
        order: 2;
        font-size: pem(13);
        margin: pem(8) 0;
    }
    
    @include mq('med') {
        font-size: pem(13);
        order: 1;
    }
}