.nav {
    @include e('start') {
        @extend %nav-width;
        height: auto;
        padding: pem(10) pem(50);
        display: flex;
        align-content: center;
        align-items: center;

        @include mq('sm') {
            flex-direction: column;
        }

        @include mq('med') {
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }

        @include mq('lg') {
            // padding: pem(10) pem(380);
        }
    }

    @include e('end') {
        @extend %nav-width;
        height: 100%;
        display: flex;
        align-items: center;

        @include mq('sm') {
            flex-direction: column;
        }

        @include mq('med') {
            flex-direction: row;
            padding: pem(20) pem(48) 0;
        }
    }
}