[class^="nav--"] {
    background-color: $site-primary;
    color: white;
}

.nav {
    @include e('list') {
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        @extend %no-decoration;

        @include mq('sm') {
            flex-direction: column;
        }

        @include mq('med') {
            flex-direction: row;
            justify-content: flex-end;
            margin: pem(19.920) 0;
        }
        
    }

    @include e('item') {
        list-style: none;
        a {
            color: $inverse;
            &:hover {
                @extend %rounded-link;
            }
        }
        
        @include mq('sm') {
            margin: pem(16) 0;
        }

        @include mq('med') {
            margin: 0 pem(32);
        }
        
    }

    @include m('start') {
        height: auto;
        padding: pem(10) pem(50);
        display: flex;
        align-content: center;
        align-items: center;
        @include mq('sm') {
            flex-direction: column;
        }

        @include mq('med') {
            flex-direction: row;
            justify-content: space-between;
        }

        @include mq('lg') {
            // padding: pem(10) pem(380);
        }
        
    }

    @include m('end') {
        height: 100%;
        display: flex;
        align-items: center;
        padding: pem(20) pem(48) 0;

        @include mq('sm') {
            flex-direction: column;
        }

        @include mq('lg') {
            flex-direction: row;
        }
    }
}

.logo {
    margin: 0;
    display: inline-block;
    color: white;
    @extend %no-decoration
}

.legal {
    display: block;
    margin: pem(19.920) auto pem(19.920);
    text-align: center;
}

.about, .external {
    text-align: center;
    @include e('list') {
        display: flex;
        color: $inverse;
    }

    @include e('item') {
        list-style: none;
        margin: 0 pem(16);
        a {
            text-decoration: none;
            color: $inverse;
        }
    }
}
