.post-list {
    @include e('table') {
        margin-top: pem(20);
        margin-bottom: pem(20);
        min-width: pem(500);
        @extend %centered;

        th {
            text-align: left;
        }

        @extend %table-default;

        
    }
    @include e('options') {
        button {
            margin: 0 pem(5);
        }
    }

}

.posts {
    @extend %centered;
}